#coinbase-login-btn{
  padding-top: 7em;
  text-align: center;
}

#main-menu-title,
#main-menu-description{
  text-align: center;
}

#main-menu-title{
  font-family: 'Passion One', cursive;
  font-weight: 200;
  font-size: 7.5em;
  letter-spacing: 0.05em;
  color: #ec5a4f;
}

#main-menu-div{
  padding-top: 6em;
}

#navbar-icon{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid white;
}

#profile-page-heading{
  text-align: center;
}

#profile-picture{
  margin-top: 50px;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  border: 3px solid white;
}

#profile-name-heading{
  margin-top: 35px;
}

#trade-history-div{
  /*text-align: center;*/
  margin-top: 75px;
}

#cryptotrade-history-header{
  margin-bottom: 35px;
  margin-left: 40px;
}

#feed-price-btc,
#feed-price-ltc,
#feed-price-eth{
  color: #85bb65;
  font-size: 2.5em;
}

#feed-price-heading{
  text-align: center;
}

.row{
    margin-left: 0;
    margin-right: 0;
}

.container{
    .row{
        margin-left: -15px;
        margin-right: -15px;
    }
}
